<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promotion.name %>
</p>

<p>
  <strong>Start period:</strong>
  <%= @promotion.start_period %>
</p>

<p>
  <strong>End period:</strong>
  <%= @promotion.end_period %>
</p>

<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
